@import (reference) '../../styles/variables.less';

.image-text-block .container {
	display: flex;
	flex-direction: column;

	@media (min-width: @layout-small) {
		flex-direction: row;
		align-items: center;
		background-image: linear-gradient(-90deg, transparent, transparent 25%, @color-cyan 0, @color-cyan);
	}

	@media (min-width: @layout-medium) {
		background-image: linear-gradient(-90deg, transparent, transparent 30%, @color-cyan 0, @color-cyan);
	}

	.image-text-block--inverted & {
		flex-direction: column-reverse;

		@media (min-width: @layout-small) {
			flex-direction: row-reverse;
			background-image: linear-gradient(90deg, transparent, transparent 25%, @color-cyan 0, @color-cyan);
		}

		@media (min-width: @layout-medium) {
			background-image: linear-gradient(90deg, transparent, transparent 30%, @color-cyan 0, @color-cyan);
		}
	}
}

.image-text-block__content {
	z-index: 1;
	margin: 0 0 -@spacing-huge @spacing-big;
	padding: @spacing-medium;
	background-color: @color-cyan;

	@media (min-width: @layout-small) {
		flex: 1 1 60%;
		margin: 0 @spacing-big 0 0;
		padding: @spacing-big 0 @spacing-big @spacing-big;
	}

	@media (min-width: @layout-medium) {
		flex: 1 1 50%;
		margin: 0 @spacing-bigger 0 0;
		padding: @spacing-bigger 0 @spacing-bigger @spacing-bigger;
	}

	.image-text-block--inverted & {
		margin: -@spacing-huge @spacing-big 0 0;

		@media (min-width: @layout-small) {
			margin: 0 0 0 @spacing-big;
			padding: @spacing-big @spacing-big @spacing-big 0;
		}

		@media (min-width: @layout-medium) {
			margin: 0 0 0 @spacing-bigger;
			padding: @spacing-bigger @spacing-bigger @spacing-bigger 0;
		}
	}
}

.image-text-block__media {
	@media (min-width: @layout-small) {
		flex: 1 1 40%;
		margin: 0 @spacing-big 0 0;
	}

	@media (min-width: @layout-medium) {
		flex: 1 1 50%;
		margin: 0 @spacing-bigger 0 0;
	}

	.image-text-block--inverted & {
		@media (min-width: @layout-small) {
			margin: 0 0 0 @spacing-big;
		}

		@media (min-width: @layout-medium) {
			margin: 0 0 0 @spacing-bigger;
		}
	}

	.responsive-image {
		display: block;
	}
}
