
@import (reference) '../../styles/variables';

.app-header {
	border-bottom: 1px solid @color-placeholder;
	background-color: @color-floral-white;
}

.app-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 @spacing-small;
}

.app-header__nav {
	padding: @spacing-medium 0;
}

.app-header__list li {
	margin: 0 @spacing-smaller;
}

.app-header__link {
	padding: @spacing-tiny;
	color: @color-placeholder;
	font-family: @font-bold;
	text-decoration: none;
}
