@import (reference) '../../styles/variables.less';

.call-to-action {
	display: inline-block;
	width: 100%;
	padding: @spacing-big @spacing-small;
	background-color: @color-powder;

	@media (min-width: @layout-small) {
		padding: @spacing-bigger @spacing-small;
	}

	.container {
		max-width: 650px;
		text-align: center;
	}

	.h3 {
		margin-bottom: @spacing-small;

		@media (min-width: @layout-small) {
			margin-bottom: @spacing-medium;
		}

		@media (min-width: @layout-medium) {
			margin-bottom: @spacing-large;
		}
	}
}

.call-to-action__button {
	margin-top: @spacing-medium;
}
