@import (reference) '../../styles/variables';

.call-to-action {
	display: inline-block;
	background-color: @color-powder;
	width: 100%;
	padding: @spacing-big 0;

	@media (min-width: @layout-small) {
		padding: @spacing-bigger 0;
	}

	.container {
		text-align: center;
	}
}

.call-to-action__button {
	margin-top: @spacing-medium;
}
