@import (reference) './variables';

* {
	box-sizing: border-box;
	color: inherit;
	-webkit-overflow-scrolling: touch;

	&::before,
	&::after {
		box-sizing: inherit;
	}
}

body {
	min-height: 100vh;
	overflow-x: hidden;
	font-family: @font-light;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	line-height: 1.2;

	@media (min-width: @layout-small) {
		font-size: 1.25rem;
		line-height: 1.3;
	}
}

dl {
	display: flex;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page {
	flex: 1 0 auto;
	width: 100%;
}

.container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: @spacing-small;
}
