@import (reference) './variables';

.list,
.numbered-list,
.unordered-list {
	margin-bottom: @spacing-small;
	margin-left: @spacing-large;

	li {
		margin: @spacing-tiny 0;
	}
}

.list,
ul {
	list-style: disc;
}

.numbered-list,
ol {
	list-style: decimal;
}

.unordered-list,
ol {
	margin-left: 0;
	list-style: none;
}

.list-inline {
	margin-bottom: 0;
	margin-left: 0;

	li {
		display: inline;
		margin: 0 @spacing-tiny;
	}
}
