/* Colors */

/* Fonts */
@font-bold: 'Roboto Bold', sans-serif;
@font-light: 'Roboto Light', sans-serif;
@font-medium: 'Roboto Medium', sans-serif;

/* Spacing */
@spacing-tiny: 8px;
@spacing-smaller: 12px;
@spacing-small: 16px;
@spacing-medium: 24px;
@spacing-large: 32px;
@spacing-larger: 40px;
@spacing-big: 48px;
@spacing-bigger: 64px;
@spacing-huge: 96px;

/* Media queries */
@layout-small: 768px;
@layout-medium: 1024px;
@layout-large: 1440px;

/* Layers */
@layer-raised: 10;
@layer-sticky: 20;
@layer-overlay: 30;
@layer-popup: 40;
@layer-on-top: 50;
